---
---


h1 {
    font-weight: bold;
    margin-bottom: 30px;
}

h4 {
    font-size: 17px;
    text-transform: capitalize;
}

.capitalize {
    text-transform: capitalize;
}

.election-container {
    margin-bottom: 60px;
}

.election-data > ul {
    display: inline;
}

.election-preview {
    height: 150px;
    margin-bottom: 20px;
}

.election-preview > h3 {
    font-weight: bold;
    margin-bottom: 0;
}

.footer {
    border-top: 1px solid #e8e8e8;
    padding-top: 10px;
}

.page-content {
    padding: 80px 0 0;
}

.show-data {
    margin-bottom: 30px;
}

.show-data > p {
    margin-bottom: 0;
}

.show-more {
    position: absolute;
    bottom: 20px;
}

.svg-icon {
    padding-right: 0;
}

.title {
    text-transform: capitalize;
    font-weight: bold;
}

#resumen {
    margin-top: 30px;
}

#sistema-electoral {
    margin-top: 70px;
}